
        body{
            border: 0px;
        }
        .front {
            border: 5px solid rgb(142, 140, 255);
            height:750px;
            width: 1283px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 60px;
            z-index:2;
            border-radius: 24px;
            background-color:rgb(229, 230, 248);
            opacity:0.95;

        }
        .channel-shift {
            margin-left: auto;
            margin-right: auto;
            margin-top: 70px ;
           
        }
        
        
        #button{
            margin-left: 100px;
            margin-right: 100px;
            border-radius: 10px;
            color: white;
            background-color: black;
            z-index: 0.5;
        }
        .phase2 {
            background-color: grey;
            color: black;
            z-index: 2;
        }
        h1{
            margin-left: 370px;
        }
        #interests{
            width:250px;
            height:45px;
            border-radius: 40px;
            font-size: 22px;
            margin:10px 10px 10px 10px;
        }
        .button-margin{
            position: relative;
            margin-left: 300px;
        }
        .sector-selection {
            position: relative;
            left: 100px;
            right: auto;
            top: 80px;
            justify-content: center;
        }
        .back_img {
            position: absolute;
            size: cover;
            left:0px;
            bottom:0px;
            z-index:-1;
            
        }
        .ele3{
            position: relative;
            top:160px;
            left:1000px;
            
        }
        .next-button{
            height: 60px;
            width:140px;
            border-radius: 30px;
            font-size: 20px;
            background-color: rgb(140, 148, 255);
            border:none;
        }
        .shift {
            display: inline-block;
        }

        .questionnaire {
            margin-top: 20%;
            margin-bottom: 40%;
            margin-left: 15%;
        }
        
       
        
        .options {
            display: flex;
            flex-direction: column;
        }
        
        .option-box {
            border: 1px solid #000;
            padding: 15px;
            margin-bottom: 10px;
            border-radius: 14px;
            width: 80%;
            
        }

        .option-box-1 {
            background-color: #AAAFFA;
        }
        
        .option-box-2 {
            background-color: #AAAFFA;
        }
        
        .option-box-3 {
            background-color: #AAAFFA;
        }
        
        .option-box-4 {
            background-color: #AAAFFA;
        }
        
        label {
            margin-bottom: 0;
        }

        .ele3{
            position: relative;
            top: 70px;
            left:500px;
            right: 0px;
            
        }
        .next-button{
            height: 60px;
            width:140px;
            border-radius: 30px;
            font-size: 20px;
            background-color: rgb(140, 148, 255);
            border:none;
            opacity: 0.6;
            margin-left: 30%;
        }


        #top-left-image {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1000; /* This ensures that the image is displayed on top of other elements */
          }